# 실행 파일
*.exe
*.msi
*.dll
*.bat
*.cmd
*.com
*.sh

# 로그 파일 및 디렉토리
logs/
*.log

# 파이썬 관련
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 가상 환경
venv/
ENV/
.env

# IDE 관련
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Windows 관련
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/